.cats {}

.cats__upload_block {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.cats__upload {
    background: #3c3ca6;
    color: #fff;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 20px;

    transition: opacity .4s;

    &:hover {
        opacity: .95;
    }
}